@font-face{
	font-family: cuprum;
	src:local("cuprum.woff2"),
		local("cuprum.woff");
}		
@font-face{
	font-family: cuprumbold;
	src:local("cuprumbold.woff2"),
		local("fonts/cuprumbold.woff"),
	font-weight: bold;
}		
@font-face{
	font-family: cuprumitalic;
	src:local("cuprumitalic.woff2"),
		local("cuprumitalic.woff");
}		
@font-face{
	font-family: cuprumbolditalic;
	src:local("cuprumbolditalic.woff2"),
		local("cuprumbolditalic.woff"),
	font-weight: bold;
}		
@font-face{
	font-family: ptsans;
	src:local("ptsans.woff2"),
		local("ptsans.woff");
}		
@font-face{	
	font-family: ptsansbold;
	src:local("ptsansbold.woff2"),
		local("ptsansbold.woff");
	font-weight: bold;	
}

body {
	margin: 0;
	padding: 0;

	font-family: "cuprum", "ptsans", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: black;
	text-transform: none;

	background-color: white;
	background-image:url(../img/content/main_bg.png);
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.notmark{
	list-style: none;
	margin: 0;
	padding: 0;
}

.holder{
	width: 1200px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* ---------------------------общее форматирование хедера-----------------*/

.top-menu{
	display: flex;
	flex-wrap: wrap;
	background-color:#293449;
	width: 1200px;
	height: 42px;
	padding-right: 130px;
	padding-left: 130px;
	box-sizing: border-box;
	
}

.middle-menu{
	display: flex;
	flex-wrap: wrap;
	background-color:#f3f6f8;
	color: #32425c;
	padding-bottom: 60px;
 }

/* -------------------------форматирование хедера-------------- */
.logo{
	box-sizing: border-box;
	background-color:#ee3643;

	width: 220px;
	height: 47px;

	box-shadow: inset 0px -5px 0px #b52933;
}
.logo-footer:hover,
.logo:hover{
	background-color:#ca2c37;
	box-shadow: inset 0px -5px 0px #9a212a;
}
.logo-footer:focus,
.logo:focus{
	background-image: #ba2732;
	box-shadow: inset 0px -5px 0px #8e1e26;
}
/*-------------------------Форма поиска---------------------*/
.searching-form{
	box-sizing: border-box;
	display: flex;
	color: #ffffff;
	width: 271px;
	height: 42px;
	margin: 0;
	padding: 0;
	padding-left: 18px;
	align-items: center;
}
.searching-form input{
	border: none;
	background-color:#293449;

	font-size: 17px;
	line-height: 18px;
}
.searching-form: focus{
	background-color:#ffffff;
	color: black;
}

/*-------------------------Границы кнопок верхнего меню---------------------*/
.lable-holder{
	box-sizing: border-box;
	display: flex;
	width: 140px;
	height: 42px;
	padding-left: 20px;
	align-items: center;

}

.cart{
	box-sizing: border-box;
	border: 2px solid red;
}
/*-------------------------Кнопка оформления заказа---------------------*/
.checkout-holder{
	box-sizing: border-box;
	display: flex;
	background-color:#63a63e;
	color: #FFFFFF;
	width: 150px;
	height: 42px;
	margin: 0;
	padding-top: 9px;
	padding-right: 16px;
	padding-bottom: 9px;
	padding-left: 19px;
	align-items: center;
}

.checkout{
	box-sizing: border-box;
	font-family: cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	display: flex;
	align-items: center;
}
a.checkout:hover{
	background-color:#5fbb2d;
	color:#b6c8ae;
}
a.checkout:focus{
	background-color:#518534;
	color:#abc0a1;
}

/*-------------------------средняя часть хедера---------------------*/
.main-information{
	box-sizing: content-box;
	display: flex;
	width: 205px;
	height: 71px;
	margin-left: 160px;	
}
.text{
	box-sizing: content-box;
	font-family: cprum;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0px;
	text-align: left;
	color: #EE3643;


 }
.contacts{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	box-sizing: border-box;
	
	width: 270px;
	margin-left: 20px;
}

.contact svg{
	margin-right: 40px;
}
.phone{
	display: flex;
	justify-content: center;
	box-sizing: border-box;

	background-color: #F3F7F9;

	width: 100%;
	height: 45px;

	font-family: cuprum;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	color: #EE3643;

	align-items: center;
}
.adress{
	display: flex;
	box-sizing: border-box;
	width: 250px;
	height: 24px;

	font-family: cuprum;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #32425C;

	text-align: center;
	align-items: center;
}

.user-menu{
	width: 285px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-left: 70px;
	padding-top: 47px;
}
.user-menu-catalog{
	flex-direction: column;
	justify-content: flex-start;
}
.enter{
	box-sizing: border-box;
	display: inline-block;
	width: 120px;
	height: 45px;
	background-color: #ffffff;

	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	padding-left: 15px;
	padding-top: 11px;
 }
.enter svg{
	 margin-right: 15px;
	 margin-top: 1px;
 }
 /*------------------------------------catalog.html------------------*/
.enter-catalog{

	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	width: 285px;
	height: 45px;
	background-color: #ffffff;

	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	padding-left: 10px;
	padding-top: 11px;
}
.enter-catalog svg{
	 margin-top: 1px;
	 margin-right: 8px;
 }
.user-name{
	margin: 0px;
	padding: 0px;
}
.cabinet{
	display: flex;
	justify-content: space-around;
	margin: 0px;
	margin-top: 5px;
}
.cabinet a{
	margin: 0px 11px;

	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #32425c;
}
.cabinet a,
.cabinet a:focus,
.cabinet a:hover{
	text-decoration:underline;
}
p.point:after{
	margin: 5px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color:#32425c;
}
/*------------------------------------*/
.registration{
	display: block;
	box-sizing: border-box;
	width: 150px;
	height: 45px;
	background-color: #ffffff;

	color: #000000;
	font-size: 21px;
	line-height: 21px;
	font-weight: 400;

	padding-left: 26px;
	padding-top: 11px;
 }
 .user-menu a:hover{
	color: #ee3643;
 }
 .user-menu a:focus{
	color:#babbbd;
 }

.site-navigation{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	width: 940px;
	min-height: 60px;

	margin-left: 130px;
	margin-right: 130px;
	margin-top: 40px;

	background-color: #32425c;

	box-shadow: inset 0px -5px 0px #293449;
}
ul.site-navigation {
	padding: 0;
}
.site-navigation a{
	display: inline-block;
	box-sizing: border-box;
	width: 122px;
	height: 60px;

	font-size: 17px;
	line-height: 17px;
	color: #e0e1e3;
	text-align: center;

	padding-top: 20px;
}
.site-navigation a:hover{
	background-color: #293449;
	color: #ffffff; 1d2739
}
.site-navigation a:focus{
	background-color: #1d2739;
	color: #a8abaf;
}
/* ----------------------------------форматирование контента------------ */

.new:before {
  content: "";
  position: absolute;
  top: 380px;
  left: 410px;
  z-index: 10;

  width: 60px;
  height: 600px;

  background: url(../img/new.png) no-repeat 0 0;
}

/*---------------------------------------------------------index.html------------------------------------*/
.holder-items{
	display: flex;
	box-sizing: border-box;
	width: 940px;
	margin-left: 130px;
	margin-right: 130px;
}
.row{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.cols{
	display: flex;
	flex-direction: column;
}

.holder-item{
	box-sizing: border-box;
	display: flex;

	width: 300px;
	height: 123px;
}

.holder-item h2{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #ffffff;

	margin-left: 20px;
	width: 150px;
	height: 25px;

}

.holder-item a{
	
	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;

	width: 135px;
	height: 38px;

	background-color:#e5e5e5;
	opacity: 0.6;
	border-radius: 5px;

	padding: 0;
	margin: 0;

	padding: 9px 10px;

}
.holder-item a:hover{
	background-color: #cccccc;

}
.holder-item a:focus{
	background-color: #b2b2b2;
}

.material{
	background-color:#ffbf47;
}

.tools{
	background-color: #3bbce3;
}

.tech{
	background-color: #dc91d8;
}

.discont{
	background-color: #8ed78f;	
}

.delivery{
	background-color: #ffc047;
}
/*------------------------------слайдер-------------------------*/
.holder-sliders{
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 620px;
	height: 266px;

}
.slider h1{
	font-size: 31px;
	line-height: 31px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
.slider h3{
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;

	padding: 0;
	margin: 2px 0;

}
.name-slide{
	border: 2px solid red;
}
.opencat{
	box-sizing: border-box;
	
	width: 195px;
	height: 38px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
	border-radius: 5px;
}
.opencat:hover{
	background-color: #ca2c37;
}
.opencat:focus{
	background-color:#ba2732;
}
.opencat p{
	margin: 10px 40px;
	padding: 0;
}

.btn-left{
	display: flex;
	box-sizing: border-box;
	background-color: transparent;
	border: none;
}
.btn-right{
	
	display: flex;
	box-sizing: border-box;
	background-color:transparent;
	border: none;
}
.indicator1{
	box-sizing: border-box;
	
	width: 10px;
	height: 10px;
	
	border-radius: 100%;
	background-color: #ffffff;
}
.indicator2{
	box-sizing: border-box;
	width: 10px;
	height: 10px;
	
	border: 2px solid #ffffff;
	border-radius: 100%;
	background-color: #ee3643;
}
.indicator4{
	box-sizing: border-box;
	
	width: 10px;
	height: 10px;
	
	border: 2px solid #ffffff;
	border-radius: 100%;
	background-color: #ee3643;
	z-index: 3
}
.indicator3{
	box-sizing: border-box;
	
	width: 10px;
	height: 10px;

	border: 2px solid #ffffff;
	border-radius: 100%;
	background-color: #ee3643;
	z-index: 3
}

/*------------------------------------------Список популярных товаров---------------------------------------------*/
.column{
	flex-direction: column;
}
.header{
	display: flex;
	background-color:#f9f5f0;
	margin-bottom: 20px;
	
}
.lable{
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.choice{
	padding-left: 28px;
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #32425c;
	text-transform: uppercase;

}
.btn-choice{
	box-sizing: border-box;
	width: 253px;
	height: 38px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;
	border-radius: 1px;

	padding: 10px;
	margin-right: 14px; 

}
.btn-choice:hover,
.info a:hover,
a.writeus:hover{
	background-color: #CA2C37;
}
.header a:focus,
.info a:focus,
a.writeus:focus{
	background-color:#ba2732;
}

.popitems{
	display: flex;
	box-sizing: border-box;
	padding: 0;
	justify-content: space-between;
}

.popitems li{
	width: 220px;
	height: 318px;

	margin-bottom: 70px; 

	border: 1px solid #eaeaea;
}
.popitems h1{
	width: 191px;
	height: 66px;
	font-family: "PT Sans";
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	color: black;
	margin:0;
}

.deleted{
	text-decoration:line-through;
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: #a9a9a9;
	font-weight: bold;

}
.price{
	font-family: "PT Sans";
	font-size: 17px;
	line-height: 18px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;

	position: relative;

	width: 85px;
	margin: 0 auto 20px;
	padding: 11px 30px;

	background: #ee3643;
	border-radius: 3px;
}
.price:after {
	content: "";
	position: absolute;
	top: 0;
	right: -20px;

	width: 0;
	height: 0;

	border: 20px solid #ffffff;
	border-left-color: #ee3643;
}
.price{
	margin-top: 15px;
	padding: 11px 30px;

}
.new-item:before {
  content: "";
  position: absolute;
  z-index: 10;

  width: 60px;
  height: 60px;

  background: url(../img/new.png) no-repeat 0 0;
}

.poplable{
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 70px;
}

.poplable li{
	box-sizing: border-box;
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 20px;
}
.poplable li:nth-child(4n) {
  margin-right: 0;
}
.poplable li:hover{
	box-shadow: 0px 12px 50px -20px black;
}
.poplable li:focus{
	box-shadow: 0px 12px 50px -20px black;
	opacity: 0.2;
}
.poplable img{
	padding: 0px;
	margin-top: 50px;
}
.poplable .interskol img{
	padding: 0px;
	margin-top: 25px;
}
.poplable .lg img,
.poplable .mtb img{
	padding: 0px;
	margin-top: 30px;
}
.poplable .aeg img{
	padding: 0px;
	margin-top: 20px;
}


/*--------------------------------------------Сервисы компания и контаты----------------------------------------------------------------*/
.holder-service{
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	background-color: #f4f8f9;
	height: 522px;

	padding-left: 130px;
	padding-right: 130px;
}
.header-service{
	display: flex;
	flex-direction: column;

	box-sizing: border-box;

	width: 100%;

	padding-top: 64px;
}

.lable-service{
	font-family: "cuprum";
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

	margin-bottom: 25px;
}

.description-service{
	font-family: "ptsans";
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;

	width: 394px;

	margin: 0;
	padding: 0;
}

.menu-serivce{
	margin-top: 70px;
}

.menu-serivce li{
	box-sizing: border-box;
	height: 64px;
}
.menu-serivce a{
	box-sizing: border-box;
	display: inline-block;
	width: 240px;
	height: 64px;
	color: #ffffff;
	background-color: #32425c;
	border: 1px solid black;
	padding-top: 20px;
	padding-left: 20px;
}
.menu-serivce a:hover{
	background-color:#293449;
}
.menu-serivce a:focus{
	background-color:#ffffff;
	color: #293449;
}

.img-side{
	margin-top: 30px;
	position: absolute;
	width: 10px;
	height: 279px;

	top:2022px;
	left: 360px;
	background-image: url(../img/vert_menu_service.png);
	background-repeat: no-repeat;
	border: 1px solid transparent;
	z-index: 3;
}

.contact h1,
.about h1,
.popup-contact h1{
	font-family: "cuprum";
	font-weight: 400;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;

}

.about p,
.contact p,
.about p,
.popup-contact p{
	font-family: "ptsans";
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
	padding: 0;
}
.infobok{
	display: flex;
	box-sizing: border-box;
	height: 260px;
	background-color: transparent;
	margin-left: 80px;

}
.weiwport-service{
	width: 619px;
	height: 283px;
}
.delivery{
	flex-direction: column;
	background-image: url(../img/dostavka-car.png);
	background-repeat: no-repeat;
	background-position-x: 130px;

}
.garant{
	flex-direction: column;
	background-image: url(../img/garant.png);
	background-repeat: no-repeat;
	background-position-x: 210px;
}
.garant p{
	display: inline-block;
	width: 380px;
	font-size: 18px;
}

.kredit{
	flex-direction: column;
	background-image: url(../img/credit.png);
	background-repeat: no-repeat;
	background-position-x: 135px;
}
.infobok img{
	width: 470px;
	height: 270px;
	position: absolute;
	left: 130px;
	background-image: url(../img/dostavka-car.jpg);
	background-repeat: no-repeat
	border: none;
}
.infobok h1{
	display: inline-block;
	font-family: "cuprum";
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: #32425c;

}

.infobok a{
	margin-top: 35px;
	display: inline-block;

	width: 195px;
	height: 38px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;
	border-radius: 5px;
}
.holder-info{
	display: flex;
	flex-wrap: wrap;

	padding-left: 130px;
	padding-top: 70px;
	padding-right: 130px;
	padding-bottom: 70px;
}

.about{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	width: 460px;
	margin-right: 170px;
}

.about a:hover,
.infobok a:hover{
	background-color: #ca2c37;
}
.about a:focus,
.infobok a:focus{
	background-color: #ba2732;
}
.center{
	display:inline-block;
	position: relative;
	padding-top: 12px;
}


.about p{
	padding: 0;
	margin: 0;
}
.about li{
	list-style: none;
	list-style-image: url(../img/line_red.png);
	margin: 20px 0px;
	padding: 0;

	font-family: "cuprum";
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #000000;

}

.about a{
	display: flex;
	box-sizing: border-box;

	width: 220px;
	height: 38;

	margin-top: 20px;
	padding-top: 11px;
	padding-left: 39px;
	padding-bottom: 9px;
	padding-right: 40px;
		

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;
	border-radius: 5px;

}

.list-delivery{
	margin: 0;
	margin-left: 30px;
	padding: 0;

}
.popup-contact{
	width: 301px;
	height: 356px;
}
.popup-contact p{
	width: 180px;
	margin: 30px 0px;
}
.popup-contact img{
	margin-top: 10px;
	margin-bottom: 40px;
}
a.writeus{
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	width: 300px;
	height: 38px;

	font-size: 14px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;

	background-color: #ee3643;
	border-radius: 5px;

	padding: 10px;
}
/*--------------------------------------------------------catalog.html-----------------------------------*/
.bread{
	display: flex;
	justify-content: flex-start;
}
.bread a{
	margin-top: 3px;
	font-family: "PTSans";
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}
.bread svg{
	margin: 5px 10px;
}
.name-page{
	width: 960px;
	background-color:#f3f6f8;
	box-sizing: border-box;
}
.name-page p{
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
	margin-left: 30px;
}
.items{
	height: 1200px;
	width: 960px;
	margin-bottom: 150px;


}
.cols-filter{
	margin-top: 20px;
	margin-right: 20px;
	height: 750px;
	width: 220px;
	display: flex;
	flex-direction: column;
}
.filter{
	border-bottom: 1px solid #e5e5e5;
}
.cols-filter p{
	margin: 0px;
	box-sizing: border-box;
	background-color: #f7f3ec;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	border-radius: 5px;

	font-family: "PTSans";
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}
.cols-filter h2{
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	margin-top: 20px;
	font-family: "PTSans";
	font-size: 17px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.range{
	padding: 20px 30px;
	background-color: #f7f3ec;
	margin-bottom: 10px;
	border-radius: 5px;
}
.output{
	box-sizing: border-box;
	width: 100px;
	background-color: #f7f3ec;
	border: none;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;

	font-family: "PTSans";
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-align: center;
}
.lable-checkbox li{
	position: relative;
	cursor: pointer;
	font-family: "PTSans";
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;

 }
 .lable-checkbox li:nth-last-child(1){
	 margin-bottom: 20px;
 }
 .lable-checkbox path:hover{
	 fill:#b5b5b5;
 }
 .lable{
	 border-bottom: 1px solid #e5e5e5;
 }
 .pit{
	 margin-bottom: 55px;
 }
 .cols-filtr a{
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	width: 140px;
	height: 40px;

	font-family: "PTSans";
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
	padding-top: 12px;
 }
 .sort{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;

	width: 720px;
	height: 40px;
	background-color: #f7f3ec;
	border-radius: 5px;

	font-family: "PTSans";
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

 }
.sort p{
	margin: 0;
	padding: 0;
	margin-left: 20px;
 }
.sort a{
	margin: 0px 15px;
	color: #c5c5c5;
	text-decoration: none;
	border-bottom: 1px dashed #ee3643;
 }
 .sort a:hover{
	color: #000000;
	text-decoration: underline #ee3643;
	border-bottom: none;
 }
.sort a:focus{
	color: #ee3643;
	text-decoration: none;
	border-bottom: none;
}
 a.arrow {
	display: inline-block;
	margin: 0 10px;
	font-size: 0;
	text-decoration: none;
	border-bottom: none;
}

.arrow::before {
	display: inline-block;
	border: 12px solid #c5c5c5;
	border-right-width: 6px;
	border-right-color: transparent;
	border-left-width: 6px;
	border-left-color: transparent;
	content: "";
}

.arrow-up::before {
	border-top-width: 0;
}
.arrow-down::before {
	border-bottom-width: 0;
}
.arrow:hover::before {
	display: inline-block;
	border: 12px solid #000000;
	border-right-width: 6px;
	border-right-color: transparent;
	border-left-width: 6px;
	border-left-color: transparent;
	content: "";
}

.arrow-up:hover::before {
	border-top-width: 0;
}
.arrow-down:hover::before {
	border-bottom-width: 0;
}

.arrow:focus::before {
	display: inline-block;
	border: 12px solid #ee3643;
	border-right-width: 6px;
	border-right-color: transparent;
	border-left-width: 6px;
	border-left-color: transparent;
	content: "";
}

.arrow-up:focus::before {
	border-top-width: 0;
}
.arrow-down:focus::before {
	border-bottom-width: 0;
}
.catalog-items {
	position: relative;
	top: -675px;
	left: 228px;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 720px;
}
.catalog-item:nth-last-child(3n){
	margin-left: 0px;
}
.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-bottom: 20px;

  line-height: 20px;
  font-weight: bold;
  text-align: center;

  border: 1px solid #ccc;
}
.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;

  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}
.item-new:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 158px;
  z-index: 10;

  width: 60px;
  height: 600px;

  background: url(../img/new.png) no-repeat 0 0;
}


.page-numb{
	position: relative;
	right: 215px;
	margin: 50px;
}
.page-numb a{
	border: 1px solid #e5e5e5;
	padding: 10px 20px;
	border-radius: 3px;
}
.page-numb a:hover{
	border: 1px solid #bdc6ca;
}
.page-numb a:focus{
	border: 1px solid #ee3643;
}
.page-numb a:active{
	border: 1px solid #ee3643;
	background-color: #ee3643;
}
.service h1{
	width: 100%;
	margin-top: 60px;
}
.service p{
	width: 915px;
	margin-bottom: 60px;
}
.perf{
	height: auto;
}
/*--------------------------------------------------------ФУТЕР--------------------------------------------------*/
.main-footer{
	display: flex;
	flex-wrap: wrap;
	background-color: #32425c;
	margin: 0;
	padding: 0;
}
.footer{
	width: 960px;
}
.logo-footer{
	flex-shrink: 0;
	box-sizing: border-box;
	background-color:#ee3643;

	width: 220px;
	height: 68px;
	box-shadow: inset 0px -5px 0px #b52933;

	margin-left: 130px;
	margin-right: 170px;
	margin-bottom: 22px;
}
.footer-midletext{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	margin-right: 128px;
}
.footer-midletext a,
.footer-midletext p{
	font-family: "cuprum";
	font-size: 18px;
	line-height: 24px;
	color: #f1f5f7;
	margin: 0px;
	padding: 0px;
}
.footer-midletext a:hover{
	text-decoration:underline;
}
.footer-midletext a:focus{
	opacity: 0.5;
	text-decoration:none;
}
.nav li{
	margin-right:35px;
	padding-top: 40px;
	text-align: center;
}
.nav li:nth-child(5n) {
  margin-right: 0;
}
.footer-contact{
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	margin-left: 130px;
}
.listitems li{
	width: 80px;
	margin-right:40px;
	text-align: center
}

.down-footer{
	display: flex;
	box-sizing: border-box;
	align-items: center;
	background-color: #293449;
	margin: 0;
	padding: 0;
	padding-left: 130px;
	padding-top: 35px;
	padding-right: 143px;
	padding-bottom: 35px;
}

.copyright{
	padding: 0px;
	margin-right: 160px;

	font-family: "cuprum";
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
}
.icons-holder{
	display: flex;
	box-sizing: border-box;
	align-items: center;
}
.icons{
	display: flex;
	justify-content: space-between;
	width: 135px;
	margin-right: 32px;

}
li.icons{
  position: relative;
  text-align: center;
  border-radius: 50%;
  background-color: #212a3a;
  width: 42px;
  height: 42px;
}
li.icons:hover{
  background-color: #ee3643;
}
li.icons:focus{
  background-color: #ee3643;
}
.icons svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  width: 25px;
  height: 25px;
}

.down-contact{
	display: flex;
}
.chcolor a,
.footerdowntext a.chcolor{
	color:#ffd180;
}
.footerdowntext,
.footerdowntext a,
.footerdowntext p{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}
.margin-footer-contact{
	margin-left: 50px;
}

.footerdowntext a:hover{
	text-decoration:underline;
}
.footerdowntext a:focus{
	text-decoration:none;
	color: #ee3643;
}
/*--------------------------------------попапы-----------------------------------*/
.map{
	display: none;
	position: fixed;
	top:60%;
	left:30%;
	margin-top: -450px;
	margin-left: -225px;
}
.button{
	position: absolute;
	width: 22px;
	height: 22px;
	top: 10px;
	left: 908px;
	background-color: transparent;
	border: 0;
}
.button:after,
.button:before{
	content: "";
	position: absolute;
	top: 10;
	right: -5px;
	width: 30px;
	height: 4px;
	background-color: #ee3643;

}
.button:after{
	transform: rotate(-45deg);
}
.button:before{
	transform: rotate(45deg);
}
/*----------------------форма обратной связи--------------------------------*/
.modalform {
  display: none;
  position: fixed;
  background-color: #ffffff;
  top: 120px;
  left: 50%;

  width: 620px;
  margin-left: -320px;
  border-top: 7px solid #ff5357;
  z-index: 11;

  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}
.modalform-show{
	display: block;
	animation: bounce 0.6s;
}
.modalform-error {
  animation: shake 0.6s;
}
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
/*---------------------форматирование окон ввода---------------------*/
.mailform{
	width: 460px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 50px 80px  0 80px;
}
.mailform p{
	margin: 0;
	margin-bottom: 15px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	margin-block-end:0;
}
.mailform input[type="text"]{
	box-sizing: border-box;
	width: 220px;
	padding: 5px 15px;
	padding-right: 2px;

	font-size: 13px;
	line-height: 18px;
	font-weight: 400;


	color: #a9a9a9;

	border: 2px solid #dee3e4;
}
.flextext{
	display: flex;
	padding-bottom: 15px;
}
.tab{
	margin-top: 20px;
}
.message{
	box-sizing: border-box;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #a9a9a9;
	resize: none;
	border: 2px solid #dee3e4;
	padding: 10px 15px;
	margin-bottom: 37px;
}
.sent{
	width: 100%;
	display: inline-block;
	text-align: center;
	background-color: #f4f4f4;
}
.subbutton{
	width: 460px;
	height: 40px;

	background-color: #ee3643;

	margin-top: 38px;
	margin-bottom: 38px;

	border-radius: 5px;

	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}
.lable-form{
	display: flex;
	width: 420px;
	height: 70px;
	margin-top: 50px;
	margin-left: 80px;
}
.lable-form h1{
	margin: 0;
	padding: 0;
	margin-top: 20px;
	margin-left: 30px;

	font-size: 30px;
	line-height: 30px;
	font-weight: 400;

}
.btns{
	margin-top: 50px;
	display: flex;
	justify-content: center;
	background-color: #f4f4f4;
}
.btns a{
	box-sizing: border-box;
	width: 220px;
	height: 40px;
	border-radius: 5px;
	text-align: center;
	padding-top: 12px;
	margin: 40px 20px;

	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}
.btn-order{
	background-color:  #ee3643;
	color: #ffffff;
}
.btn-buy{
	background-color:  #ffffff;
	color: #000000;
}
/*---------------------закрытие окна--------------------*/
.modalform-close{
	position: absolute;
	top: 17px;
	right: 10px;

	width: 30px;
	height: 30px;

	background-color: transparent;
	border: 0;

	cursor: pointer;
}
.modalform-close::before,
.modalform-close::after {
	content: "";

	position: absolute;
	top: 13px;
	left: 0px;

	width: 30px;
	height: 3px;

	background-color: #ee3643;
}

.modalform-close::before {
	transform: rotate(45deg);
}

.modalform-close::after {
	transform: rotate(-45deg);
}
